body {
    margin: 0;
}

h1, h2, h3, p, span, a {
    font-family: "Source Code Pro", sans-serif;
}

#page-top {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items:center;
    font-size: 18px;
}

#page-top a {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
}

#page-top a.item {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    text-decoration: none;
    color: #000000;
}

#page-top a.item:hover {
    background-color: #04AA6D;
    color: white;
}

#page-top img.w3s-icon  {
    width: 40px;
    height: 40px;
    padding-top: 15px;
}

.button {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

#ProButton {
    color: white;
    background-color: #282A35;
}

#GetCertifiedButton {
    color: black;
    background-color: #FFC0C7;
}

#FreeWebsiteButton {
    color: black;
    background-color: #4CAF50;
}